body {
    background-image: url("../imgs/stripe_black.jpg");
    background-repeat: repeat;
}

.module {
    background-color: rgba(255,255,255,.7);
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1{
    text-align: center;
}

img.logo{
    position: static;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    
}

.overlay {
    position: absolute;
    /*display: block;*/
    top: 34%;
    left: 45%;
    /*text-align: center;*/
}

.icon {
    font-size: 200%;
    padding-left: 5px;
    padding-right: 5px;
}